.form-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 1rem auto;
  gap: 1rem;
}

.spacer {
  flex: 1 1 auto;
}

.actions {
  display: flex;
  gap: 1rem;
}

.file-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
